apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo
  labels:
    app.kubernetes.io/name: echo
spec:
#  replicas: 1
  replicas: 2 #변경 부분 - flux 배포 태스트
  selector:
    matchLabels:
      app.kubernetes.io/name: echo
  template:
    metadata:
      labels:
        app.kubernetes.io/name: echo
    spec:
      containers:
        - name: nginx
          image: ghcr.io/jpubdocker/simple-nginx-proxy:v0.1.0
          env:
            - name: NGINX_PORT
              value: "80"
            - name: SERVER_NAME
              value: "localhost"
            - name: BACKEND_HOST
              value: "localhost:8080"
            - name: BACKEND_MAX_FAILS
              value: "3"
            - name: BACKEND_FAIL_TIMEOUT
              value: "10s"
          ports:
            - name: http
              containerPort: 80
        - name: echo
          #Image automation controller가 변경사항을 인식하기 위해 필요
          image: ghcr.io/suyeop627/echo:v0.1.0-slim # {"$imagepolicy": "flux-system:echo"}
